// BASE COLORS:
$colorBackground: #242424;
$colorBackIconsButtons: #1a1a1a;
$colorWhiteTransparent: rgba(255, 255, 255, 0.87);
$colorWhite: #f5f7fa;
$colorGreyDark: #191919;
$colorGreyLight: #7F7F7F;

// // GENERAL COLORS:
$blueBorder: #646cff;
$violetButton: #8A33FD;

// // ADDITIONAL COLORS:
$hoverGrey: #333333;
$hoverViolet: #a663fe;
$hoverVioletLight: #d3b4fc;
$shadowBlue: rgba(0, 123, 255, 0.5);
$shadowWrapper: rgba(41, 2, 68, 0.4);
$favoritedPink: #ff69b4;