@import "../../../styles//styles.scss";

.form-block {
    width: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 10px;
    padding: 15px;
    border: 1px solid $blueBorder;    
    box-sizing: border-box;

    & legend {
        margin-bottom: 10px;
        font-size: 1.5rem;
    }
}
