.basketpage__title-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    column-gap: 2rem;
    line-height: 1.5rem;
}

.basketlist__container {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}