// .product-list {
//     display: flex;
//     justify-content: space-between;
//     gap: 20px;
//     box-sizing: border-box;
//     flex-wrap: wrap;

//     &::after {
//         content: "";
//         flex: auto;
//     }
// }

.product-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 20px;

    @media (max-width: 1320px) {
        grid-template-columns: repeat(4, 1fr);
        /* 4 картки в ряду */
    }

    @media (max-width: 900px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 700px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 500px) {
        grid-template-columns: repeat(1, 1fr);
    }
}